body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors */
@layer base {
  .text-gold-500 {
    color: #FFD700; /* gold color */
  }
  .text-gold-300 {
    color: #F5D300; /* lighter gold */
  }
  .bg-gold-600 {
    background-color: #FFD700; /* gold color */
  }
  .bg-gold-700 {
    background-color: #F5D300; /* darker gold */
  }
  .border-gold-500 {
    border-color: #FFD700; /* gold color */
  }
  .focus:ring-gold-300 {
    ring-color: #F5D300; /* gold ring color */
  }
}
